* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
}

.container-list {
  height: 100vh;
  width: 50vh;
  background-color: #003055;
  border-radius: 3%;
}

.header {
  margin: 5%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  position: absolute;
  right: 0.5rem;
  top: 0rem;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.header span {
  margin: 2%;
  color: rgb(255, 255, 255, 0.7);
}

.list-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.list-content img {
  max-width: 100%;
  height: auto;
}