* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
}

.container-list {
  height: 100vh;
  width: 50vh;
  max-width: 100%;
  background-color: #003055;
  border-radius: 3%;
}

.header {
  margin: 5%;
  position: relative;
  display: flex;
  justify-content: center;
}

.header img {
  position: absolute;
  right: 0.5rem;
  top: 0rem;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.header span {
  margin: 2%;
  color: rgb(255, 255, 255, 0.7);
}

.list-content {
  display: flex;  
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

.list-content img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #003055;
  border:  none;
}

.card {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 1%;
  color: #000;
  width: 100%;
}

.card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.card-info {
  flex: 1;
}

.card-info h4 {
  margin: 0;
  font-size: 16px;
}

.card-info span {
  font-size: 14px;
  color: gray;
}

.card-actions {
  display: flex;
  cursor: pointer;
  transition: opacity 0.2s;
  padding: 5%;

}

.lista-mascotas {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.action-icon {
  width: -20rem; /* Tamaño pequeño para las imágenes SVG */
  height: -1rem; /* Tamaño pequeño para las imágenes SVG */
  cursor: pointer;
  transition: opacity 0.2s;
}

.btn-add{
  margin-bottom: 4%;
}

.reporte {
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-report{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.mapa {
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}