<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Mascotas</title>
    <link rel="stylesheet" href="../css/createPets.css">
</head>
<body>
    <div class="form-container">

        <div class="header">
            <a href="getPets.html">
                <img src="../img/btn-back.svg" alt="btn-back">
            </a>
            <span>Adicionar Mascotas</span>
            <a href="getPets.html">
                <img src="../img/btn-close.svg" alt="btn-close">
            </a>
        </div>

        <div class="photo-section">
            <img src="../img/photo-lg-0.svg" alt="">
        </div>

        <div class="form-content">
            <form id="form-mascota">
                <input type="text" name="Nombre" placeholder="Nombre" required>
                <input type="text" name="Raza" placeholder="Seleccione la raza" required>
                <input type="text" name="Categoria" placeholder="Seleccione la categoria" required>
                <input type="file" name="Foto" placeholder="Subir Foto">
                <input type="text" name="Genero" placeholder="Seleccione Genero">
                <a href="getPets.html">
                    <img src="../img/btn-save.svg" alt="">
                </a>
            </form>
        </div>
    </div>
</body>
</html>