<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrar Mascotas</title>
  <link rel="stylesheet" href="../css/getPets.css">
</head>
<body>
  <div class="container-list">

    <div class="header">
      <span>Administrar Mascotas</span>
      <a href="login.html">
        <img src="../img/btn-close.svg" alt="btn-close">
      </a>
    </div>

    <div class="list-content">
      <a href="createPets.html">
        <img src="../img/btn-add.svg" alt="btn-add">
      </a>
    </div>
  </div>
</body>
</html>
