<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrar Mascotas</title>
  <link rel="stylesheet" href="../css/getPets_ws.css">
</head>
<body>
  <div class="container-list">

    <div class="header">
      <span>Administrar Mascotas</span>
      <a href="login_ws.html">
        <img src="../img/btn-close.svg" alt="btn-close">
      </a>
    </div>

    <div class="list-content">
      <a href="createPets_ws.html">
        <img src="../img/btn-add.svg" alt="btn-add" class="btn-add">
      </a>
      
      <div id="lista-mascotas" class="lista-mascotas">

    </div>

    <div class="reporte">
      <a href="reportePets_ws.html">
        <img src="../img/report-btn.webp" alt="">
      </a>
    </div>

    </div>
  </div>

  <script src="../js/getPets_ws.js"></script>
</body>
</html>
