<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Administrar Mascotas</title>
  <link rel="stylesheet" href="../css/getPets.css" />
</head>
<body>
  <div class="panel">
    <div class="panel-header">
      <span>Administrar Mascotas</span>
      <button class="close-btn">✕</button>
    </div>

   <a href="createPets.html">
    <img src="../img/btn-add.svg" alt="">
   </a>

    <div class="pet-card">
      <img src="img/perro1.png" alt="Karsten">
      <div class="pet-info">
        <strong>karsten</strong>
        <span>Bulldog</span>
      </div>
      <div class="actions">
        <button class="icon">🔍</button>
        <button class="icon">✏️</button>
        <button class="icon delete">🗑️</button>
      </div>
    </div>

    <!-- Puedes duplicar pet-card para más mascotas -->
  </div>
</body>
</html