<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="../css/login_ws.css" />
</head>
<body>
  <div class="login-container">
    <div class="form-wrapper">
      <form id="login-form">
        <input type="email" id="email_ws" placeholder="Correo Electrónico" required />
        <input type="password" id="password_ws" placeholder="Contraseña" required />
        <button type="submit" >Ingresar</button>
        <p id="message"></p>
      </form>
    </div>
  </div>
  <script src="../js/login_ws.js"></script>
</body>
</html>