<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Mascotas</title>
    <link rel="stylesheet" href="../css/readPets_ws.css">
</head>
<body>
    <div class="container-list">
        <div class="header">
            <a href="getPets_ws.html">
                <img src="../img/btn-back.svg" alt="btn-back">
            </a>
            <span>Consultar Mascotas</span>
            <a href="getPets_ws.html">
                <img src="../img/btn-close.svg" alt="btn-close">
            </a>
        </div>

        <div class="list-content">
            <div id="detalle-mascota"></div>
        </div>
    </div>

    <script src="../js/readPets_ws.js"></script>
</body>
</html>