<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Reporte por Categoría</title>
  <link rel="stylesheet" href="../css/reportePets_ws.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div class="container-list">
    <div class="header">
      <span>Reporte de Mascotas</span>
      <a href="getPets_ws.html">
        <img src="../img/btn-close.svg" alt="btn-close">
      </a>
    </div>
    <div class="list-content">
      <table id="tabla-categorias">
        <thead>
          <tr>
            <th>Categoría</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <div class="btn-function">
        <button onclick="descargarPDF()">Descargar PDF</button>
      </div>
    </div>

    <canvas id="graficoMascotas"></canvas>

  </div>
  

  <script src="../js/reportePets_ws.js"></script>
  <script src="../js/graficoPets_ws.js"></script>

</body>
</html>
